# Gradle
/.gradle/
/build/

# IntelliJ IDEA
/.idea/
/*.iml
/out/

# Bower
/src/test/resources/projects/standard/components/
/src/test/resources/projects/nonStandard/lib/
/src/test/resources/projects/customDir/web-app/